<h3>Edition : <%= @post.title %></h3>

<%= form_tag do %>
  <table>
    <tr>
      <td><%= label_tag :title, "Titre" %></td>
      <td><%= text_field_tag :title, @post.title, {:class => "shadow long"} %></td>
    </tr>
  </table>
  <%= text_area_tag :content, @post.content, {:class => "shadow", :cols => 90, :rows => 20} %><br /><br />
  <%= submit_tag "Editer" %>
<% end %>
